body{
  overflow-x: hidden;
}

.sa-login{
  text-decoration: none;
}

.sa-image{
  background-color: #2433FF;
  
}

.banner_imgg{
  height: 420px !important;
  width: 100%;
}

.centered {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.sa-img_btn{
  background-color: #2433FF !important;
  border-radius: 15px;
  height: 45px;
}

.sa_text{
  width: 590px;
  margin-left: 25%;
 
}

.sa-text_Align{
 
    font-size: 2.4rem;
    line-height: 3.6rem !important;
    font-weight: 400;
   
}

.sa_overall_clr{
  background-color: #E9F0F8;
}

.sa_heading{
  color: #2433FF;
}

.sa_img_text{
  margin-top: 20px !important;
  margin-left: 40px;
}

.card{
  border: none;
 

}

.sa-card{
  background-color: #E9F0F8 !important;
}

.card-text{
  overflow-wrap: break-word !important;
}

.sa-clr{
 background-color: #073E60;
 padding-bottom: 40px;
}

.sa-inside{
  background-color: white;
text-align: center;
  width: 80%;
  height: 100%;
  border-radius: 18px;
}

.sa-inside_text{
  text-align: center;
  color: #2433ff;
}

.pl{
  margin-left: 20%;
}

.ul{
  margin-right: 20%;
}